body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.progress-wrapper {
  margin-top: 100px;
}
.progress-bar {
  position: relative;
  height: 20px;
  width: 350px;
  margin: auto;
  border-radius: 50px;
  border: 1px solid aqua;
}

.perc {
  background: chartreuse;
  height: 100%;
  border-radius: inherit;
  transition: width 0.2s ease-in;
}

.perc-text {
  color: black;
  margin-bottom: 20px;
  margin-top: 20px;
}

.pe {
  /* pointer-events: none; */
  cursor: progress;
  color: red;
}
